<div class="container">
  <div class="row">
    <div class="col">
      <div class="top-main">
        <div class="top-message">
          <hr>
          <h1>Memory Clips</h1>
          <p>思い出を共有しよう</p>
          <hr>
          <div class="btn-wrapper col-5 mx-auto">
            <div class="row">
              <%= link_to 'Log in',new_customer_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
            </div>
            <div class="row">
              <%= link_to 'Sign up',new_customer_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
            </div>
          </div>
          <%= render 'swiper' %>
        </div>
      </div>
    </div>
  </div>
</div>