<div class="container">
  <div class="row">
    <div class="col">
      <div class="top-main">
        <div class="top-message">
          <hr>
          <h1>Memory Clips</h1>
          <p>思い出を共有しよう</p>
          <hr>
          <button class="fixed_btn"><i class="fas fa-pencil-alt"></i><br>Clipする</button>
          <%= render 'swiper' %>
        </div>
      </div>
    </div>
  </div>
</div>